<div class="card card-background-color">
  <div class="card-content white-text center-align">
    <span class="card-title content-background truncate">Nombre: {{ object.name }}</span>
    <div class="grey-text text-darken-2 left-align">
      <b>Descripción:</b>
      <div *ngIf="object.characteristics.length > 0; else noDescription">
        <p class="truncate"> {{ object.characteristics }} </p>
      </div>
      <ng-template #noDescription>
        <p class="red-text text-darken-2">{{ 'No tiene descripción' | uppercase }}</p>
      </ng-template>
    </div>
    <hr>
    <b class="grey-text text-darken-2"> ¿ Se puede editar ? </b>
    <div class="switch">
      <label>
        Si
        <input type="checkbox" [(ngModel)]="object.consider">
        <span class="lever"></span>
        No
      </label>
    </div>
  </div>
  <div class="card-action content-background center-align">
    <div *ngIf="isAMock; else doTheFunction">
      <button class="btn btn-flat btn-outline-edit" [disabled]="object.consider">Editar</button>
      <button class="btn btn-flat btn-outline-delete">Borrar</button>
    </div>
    <ng-template #doTheFunction>
      <button class="btn btn-flat btn-outline-edit" [routerLink]="['/objeto', key]" [disabled]="object.consider">Editar</button>
      <button class="btn btn-flat btn-outline-delete" (click)="deleteObject($event, key)">Borrar</button>
    </ng-template>
  </div>
</div>
